<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWT016LM2RwN2W38xlG4rDg-gwzM_ua1g</string>
	<key>GCM_SENDER_ID</key>
	<string>654682130983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rabbit.user</string>
	<key>PROJECT_ID</key>
	<string>rabbit-8cace</string>
	<key>STORAGE_BUCKET</key>
	<string>rabbit-8cace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654682130983:ios:99e41ca1cdaeda085d5c02</string>
</dict>
</plist>